* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
body {
  font-family: "Microsoft YaHei";
  font-size: 12px;
  background: #f3f3f3;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
}
.header {
  padding: 40px 0px 30px;
}
.header .head {
  width: 1024px;
  margin: 0 auto;
}
.content .main {
  width: 1024px;
  margin: 0 auto;
}
.content .main .lside {
  width: 100px;
  float: left;
}
.content .main .lside li {
  height: 106px;
  text-align: center;
  position: relative;
}
.content .main .lside li a {
  width: 80px;
  height: 106px;
  display: block;
  margin: 0 auto;
  border-bottom: 2px solid #c5c5c5;
}
.content .main .lside li .img_1 {
  width: 101px;
  height: 106px;
  margin: 0 auto;
  background: url(http://www.huo68.com:8089/statics/images/user.png) no-repeat 0px 0px;
}
.content .main .lside li .img_2 {
  width: 101px;
  height: 108px;
  margin: 0 auto;
  background: url(http://www.huo68.com:8089/statics/images/car.png) no-repeat 0px 0px;
}
.content .main .lside li .img_3 {
  width: 101px;
  height: 108px;
  margin: 0 auto;
  background: url(http://www.huo68.com:8089/statics/images/data.png) no-repeat 0px 0px;
}
.content .main .lside li .img_4 {
  width: 101px;
  height: 108px;
  margin: 0 auto;
  background: url(http://www.huo68.com:8089/statics/images/set.png) no-repeat 0px 0px;
}
.content .main .lside li .bg {
  position: absolute;
  width: 9px;
  height: 106px;
  left: 0;
  top: 0;
  background: url(http://www.huo68.com:8089/statics/images/lside.png) no-repeat;
  display: none;
}
.content .main .lside li .text {
  margin-top: 10px;
}
.content .main .lside .li_1 {
  background: url(http://www.huo68.com:8089/statics/images/user.png) no-repeat 0px 0px;
}
.content .main .lside .li_2 {
  background: url(http://www.huo68.com:8089/statics/images/car.png) no-repeat 0px 0px;
}
.content .main .lside .li_3 {
  background: url(http://www.huo68.com:8089/statics/images/data.png) no-repeat 0px 0px;
}
.content .main .lside .li_4 {
  background: url(http://www.huo68.com:8089/statics/images/center.png) no-repeat 0px 0px;
}
.content .main .lside .li_5 {
  background: url(http://www.huo68.com:8089/statics/images/apk.png) no-repeat 0px 0px;
}
.content .main .lside .li_6 {
  background: url(http://www.huo68.com:8089/statics/images/account.png) no-repeat 0px 0px;
}
.content .main .lside .li_7 {
  background: url(http://www.huo68.com:8089/statics/images/call_center.png) no-repeat 0px 0px;
}
.content .main .lside .li_8 {
  background: url(http://www.huo68.com:8089/statics/images/out.png) no-repeat 0px 0px;
}
.content .main .lside .active {
  background-position: 0px -108px;
}
.content .main .lside .active a {
  border: 0;
}
.content .main .rside {
  width: 894px;
  padding: 0px 15px 15px;
  background: #fff;
  float: left;
  position: relative;
}
.content .main .rside .back {
  padding: 20px 50px;
  border-bottom: 1px dashed #dbdbdb;
  height: 29px;
}
.content .main .rside .back a {
  float: right;
  background: url(http://www.huo68.com:8089/statics/images/back.png) no-repeat;
  width: 100px;
  height: 29px;
  display: block;
  text-align: center;
  line-height: 29px;
  color: #fead4d;
  position: relative;
}
.content .main .rside .compang_info {
  padding: 25px 30px;
  position: relative;
}
.content .main .rside .compang_info .sbmt {
  display: block;
  width: 118px;
  height: 29px;
  line-height: 29px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: url(http://www.huo68.com:8089/statics/images/butn.png) no-repeat;
  position: absolute;
  right: 50px;
  top: 25px;
}
.content .main .rside .compang_info .sbmt:hover {
  background-position: 0px -29px;
}
.content .main .rside .compang_info dl {
  float: left;
  margin-right: 50px;
}
.content .main .rside .compang_info dl dt {
  color: #535353;
  font-size: 16px;
  line-height: 25px;
  height: 25px;
  margin-bottom: 15px;
  font-weight: 600;
}
.content .main .rside .compang_info dl dt strong {
  font-size: 24px;
  color: #feb35a;
}
.content .main .rside .compang_info dl dt span {
  color: #ff9f2d;
  font-size: 12px;
  margin-left: 12px;
}
.content .main .rside .compang_info dl dd {
  line-height: 20px;
  margin-bottom: 15px;
  font-size: 12px;
  color: #343434;
}
.content .main .rside .compang_info dl dd .address{
  color:#feb055; 
}
.content .main .rside .compang_info dl dd input{
  width: 98px;
  border: 1px solid #feb055;
  padding: 5px 3px;
  height: 8px;
}
.content .main .rside .compang_info dl dd button{
  width: 48px;
  height: 20px;
  border: none;
  font-size: 12px;
  color: #ffffff;
  line-height: 21px;
  margin-left: 6px;
  background: url(http://192.168.2.50:8089/statics/images/add_address.png) no-repeat 0px 0px;
  outline: none;

}
.content .main .rside .compang_info dl .site {
  font-size: 12px;
  color: #343434;
  font-weight: normal;
  padding-left: 20px;
  background: url(http://192.168.2.50:8089/statics/images/site.png) no-repeat 0px 3px;
}
.content .main .rside h3 {
  font-size: 16px;
  color: #332c2b;
  padding: 10px 30px;
  border-bottom: 1px dashed #dbdbdb;
}
.content .main .rside .history {
  overflow: hidden;
  margin-bottom: 40px;
}
.content .main .rside .history h5 {
  padding: 20px 35px;
  font-weight: normal;
  font-size: 16px;
  color: #585858;
}
.content .main .rside .history h5 a {
  float: right;
  color: #feb35a;
}
.content .main .rside .history ul {
  position: relative;
  padding: 20px 0px;
  width: 896px;
  border-bottom: 1px dashed #eeeded;
}
.content .main .rside .history ul li {
  float: left;
  width: 357px;
  padding: 20px 45px;
  border-right: 1px solid #eeeded;
}
.content .main .rside .history ul li .code {
  line-height: 20px;
  color: #727272;
  margin-bottom: 15px;
}
.content .main .rside .history ul li .table {
  position: relative;
}
.content .main .rside .history ul li .table .side_info {
  float: left;
}
.content .main .rside .history ul li .table .side_info table {
  width: 234px;
}
.content .main .rside .history ul li .table .side_info .require {
  margin-top: 10px;
  color: #727272;
  font-size: 12px;
}
.content .main .rside .history ul li .table .rside_info {
  float: right;
  width: 123px;
}
.content .main .rside .history ul li .table .rside_info p {
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.content .main .rside .history ul li .table .rside_info .price {
  font-size: 16px;
  color: #1b1b1b;
}
.content .main .rside .history ul li .table .rside_info .introduce {
  font-size: 12px;
  color: #989898;
  margin-top: 10px;
}
.content .main .rside .history ul li .table .rside_info .number {
  font-size: 18px;
  color: #feb35a;
  margin-top: 17px;
  height: 24px;
}
.content .main .rside .history ul li .table .rside_info .sbmt {
  display: block;
  width: 118px;
  height: 29px;
  line-height: 29px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: url(http://www.huo68.com:8089/statics/images/butn.png) no-repeat;
  margin-top: 10px;
}
.content .main .rside .history ul li .table .rside_info .sbmt:hover {
  background-position: 0px -29px;
}
.content .main .rside .text {
  padding: 0px 20px;
}
.content .main .rside .text textarea {
  width: 832px;
  height: 35px;
  padding: 10px;
  border: 1px solid #ccc;
}
.content .main .rside .text .sbmt {
  display: block;
  width: 118px;
  height: 29px;
  line-height: 29px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: url(http://www.huo68.com:8089/statics/images/butn.png) no-repeat;
  margin-top: 10px;
  float: right;
}
.content .main .rside .text .sbmt:hover {
  background-position: 0px -29px;
}
.footer {
  padding: 28px 0px;
  background: #f3f3f3;
  margin-top: 120px;
}
.footer .foot {
  width: 1024px;
  margin: 0 auto;
}
.footer .foot p {
  line-height: 15px;
  text-align: center;
}
.footer .foot p img {
  border: none;
}
