* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
body {
  font-family: "Microsoft YaHei";
  font-size: 12px;
  background: #f3f3f3;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  height: 0;
  display: block;
  clear: both;
}
.header {
  padding: 40px 0px 30px;
}
.header .head {
  width: 1024px;
  margin: 0 auto;
}
.content .main {
  width: 1024px;
  margin: 0 auto;
}
.content .main .lside {
  width: 100px;
  float: left;
}
.content .main .lside li {
  height: 106px;
  text-align: center;
  position: relative;
}
.content .main .lside li a {
  width: 80px;
  height: 106px;
  display: block;
  margin: 0 auto;
  border-bottom: 2px solid #c5c5c5;
}
.content .main .lside li .img_1 {
  width: 101px;
  height: 106px;
  margin: 0 auto;
  background: url(http://192.168.2.50:8089/statics/images/user.png) no-repeat 0px 0px;
}
.content .main .lside li .img_2 {
  width: 101px;
  height: 108px;
  margin: 0 auto;
  background: url(http://192.168.2.50:8089/statics/images/car.png) no-repeat 0px 0px;
}
.content .main .lside li .img_3 {
  width: 101px;
  height: 108px;
  margin: 0 auto;
  background: url(http://192.168.2.50:8089/statics/images/data.png) no-repeat 0px 0px;
}
.content .main .lside li .img_4 {
  width: 101px;
  height: 108px;
  margin: 0 auto;
  background: url(http://192.168.2.50:8089/statics/images/set.png) no-repeat 0px 0px;
}
.content .main .lside li .bg {
  position: absolute;
  width: 9px;
  height: 106px;
  left: 0;
  top: 0;
  background: url(http://192.168.2.50:8089/statics/images/lside.png) no-repeat;
  display: none;
}
.content .main .lside li .text {
  margin-top: 10px;
}
.content .main .lside .li_1 {
  background: url(http://192.168.2.50:8089/statics/images/user.png) no-repeat 0px 0px;
}
.content .main .lside .li_2 {
  background: url(http://192.168.2.50:8089/statics/images/car.png) no-repeat 0px 0px;
}
.content .main .lside .li_3 {
  background: url(http://192.168.2.50:8089/statics/images/data.png) no-repeat 0px 0px;
}
.content .main .lside .li_4 {
  background: url(http://192.168.2.50:8089/statics/images/center.png) no-repeat 0px 0px;
}
.content .main .lside .li_5 {
  background: url(http://192.168.2.50:8089/statics/images/apk.png) no-repeat 0px 0px;
}
.content .main .lside .li_6 {
  background: url(http://192.168.2.50:8089/statics/images/account.png) no-repeat 0px 0px;
}
.content .main .lside .li_7 {
  background: url(http://192.168.2.50:8089/statics/images/call_center.png) no-repeat 0px 0px;
}
.content .main .lside .li_8 {
  background: url(http://192.168.2.50:8089/statics/images/out.png) no-repeat 0px 0px;
}
.content .main .lside .active {
  background-position: 0px -108px;
}
.content .main .lside .active a {
  border: 0;
}
.content .main .rside {
  width: 894px;
  height: 790px;
  padding: 0px 15px 15px;
  padding-bottom: 45px;
  background: #fff;
  float: left;
  position: relative;
}
.content .main .rside .back {
  padding: 20px 50px;
  border-bottom: 1px dashed #dbdbdb;
  height: 29px;
}
.content .main .rside .back a {
  float: right;
  background: url(http://192.168.2.50:8089/statics/images/back.png) no-repeat;
  width: 100px;
  height: 29px;
  display: block;
  text-align: center;
  line-height: 29px;
  color: #fead4d;
  position: relative;
}
.content .main .rside .track_info {
  margin-top: 20px;
}
.content .main .rside .track_info .table {
  position: relative;
}
.content .main .rside .track_info .table .lside_info {
  float: left;
}
.content .main .rside .track_info .table .lside_info .code {
  line-height: 20px;
  color: #727272;
  margin-bottom: 10px;
}
.content .main .rside .track_info .table .lside_info table {
  width: 234px;
  border: none;
}
.content .main .rside .track_info .table .lside_info table span {
  font-weight: 600;
  font-size: 16px;
}
.content .main .rside .track_info .table .lside_info .require {
  margin-top: 10px;
  color: #727272;
  font-size: 12px;
}
.content .main .rside .track_info .table .rside_info {
  float: left;
  margin-left: 160px;
}
.content .main .rside .track_info .table .rside_info p {
  line-height: 20px;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.content .main .rside .track_info .table .rside_info .title {
  margin-bottom: 15px;
  color: #1b1b1b;
}
.content .main .rside .track_info .table .rside_info .price {
  font-size: 12px;
  color: #faa43e;
  font-weight: 600;
}
.content .main .rside .track_info .table .rside_info .introduce {
  font-size: 12px;
  color: #727272;
  margin-top: 10px;
}
.content .main .rside h3 {
  font-size: 16px;
  color: #222222;
  padding: 10px 0px;
  font-weight: 600;
  margin-top: 55px;
}
.content .main .rside table {
  border: 1px solid #ccc;
  width: 890px;
  font-size: 12px;
}
.content .main .rside table thead {
  background: #f3f3f3;
}
.content .main .rside table thead th {
  color: #585858;
  line-height: 30px;
}
.content .main .rside table tbody td {
  line-height: 30px;
}
.content .main .rside .chose_case {
  margin: 15px 0;
  line-height: 20px;
  padding-left: 15px;
}
.content .main .rside .chose_case input {
  vertical-align: middle;
}
.content .main .rside .text {
  padding: 0px 20px;
}
.content .main .rside .text textarea {
  width: 832px;
  height: 35px;
  padding: 10px;
}
.content .main .rside .text .sbmt {
  display: block;
  width: 118px;
  height: 29px;
  line-height: 29px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: url(http://192.168.2.50:8089/statics/images/butn.png) no-repeat;
  margin-top: 10px;
  float: right;
}
.content .main .rside .text .sbmt:hover {
  background-position: 0px -29px;
}
.footer {
  padding: 28px 0px;
  background: #f3f3f3;
  margin-top: 120px;
}
.footer .foot {
  width: 1024px;
  margin: 0 auto;
}
.footer .foot p {
  line-height: 15px;
  text-align: center;
}
.footer .foot p img {
  border: none;
}
